<div class="container homepage">
    <input type="text" class="new-task-input" placeholder="Add new task" #taskInput
        (keyup.enter)="addTask(taskInput.value); taskInput.value=''">
    <button (click)="addTask(taskInput.value); taskInput.value=''" class="add-task-button">Add Task</button>

    <div class="tasks-list">
        <div class="todo-container">
            <h1>To do</h1>
            <ul cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                class="todo-list" (cdkDropListDropped)="drop($event)">
                <li class="todo-box" *ngFor="let item of todo; let i = index" cdkDrag>
                    {{item}}
                    <button (click)="deleteTask('todo', i)" class="delete-item" aria-label="Delete item">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                </li>
            </ul>
            <p class="sr-only">use drag and drop to move tasks from "To do" to "Done"</p>
        </div>

        <div class="done-container">
            <h1>Done</h1>
            <ul cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="done-list" (cdkDropListDropped)="drop($event)">
                <li class="done-box" *ngFor="let item of done; let i = index" cdkDrag>{{item}}
                    <button (click)="deleteTask('done', i)" class="delete-item">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                </li>
            </ul>
            <p class="sr-only">use drag and drop to move tasks from "Done" to "To do"</p>
        </div>
    </div>
</div>