@import 'src/global-variables.scss';
@import 'bootstrap/scss/bootstrap';

.nav-toolbar {
    justify-content: space-between;
    min-width: 278px;

    .nav-menu-desktop {
        display: none;
        height: 100%;

        button {
            height: 100%;
        }

        .user-profile {
            width: 40px;
            filter: brightness(0) invert(1);
        }
    }

    .title {
        height: 100%;
        font-size: x-large;
    }

    @media (min-width: $desktop) {
        .nav-menu-desktop {
            display: block;
        }

        .nav-menu-mobile {
            display: none;
        }
    }
}

.user-only-navigation {
    a {
        color: white;

        &:hover {
            background-color: $light-purple;
        }
    }

    background-color: $dark-purple;
}

::ng-deep .mobile-expanded {
    display: block;
    border: 1px solid $primary;

    &.mat-mdc-menu-panel {
        background-color: $primary;
        position: fixed;
        right: 0;
        top: 39px;
        box-shadow: none;

        button {
            color: white;
        }

        mat-icon {
            color: white;
        }
    }
}

@media (min-width: $desktop) {
    ::ng-deep .mobile-expanded {
        display: none;
    }
}