@import 'src/global-variables.scss';
@import 'bootstrap/scss/bootstrap';

.reset-password {
    background-color: $light-purple;
    margin-bottom: 15px;
}
.link-back-to-login {
    margin-left: 5px;
}