<section>
  <div class="forgot-password-form container-fluid d-flex justify-content-center align-items-center h-100 w-25">
    <div class="row">
      <h1 class="text-center">Reset Password</h1>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" #passwordResetEmail required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>


      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg btn-block w-100 reset-password"
          (click)="authService.sendPasswordResetEmails(passwordResetEmail.value)">
          Reset Password</button>
      </div>


      <!--Redirect to forgot passwor component -->
      <div class="d-flex justify-content-center">
        <span aria-hidden="true">Go back to </span>
          <a routerLink="/sign-in" class="link-back-to-login link-danger" aria-label="Click here to go back to login page">Login</a>
      </div>
    </div>
  </div>
</section>