@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'src/global-variables.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    width: 100%;
    background-image: linear-gradient($primary, $dark-purple);
    color: white !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Blue outline for accessibility
a:focus,
input:focus,
button:focus {
    outline: 2px solid #007bff !important;
}
